nav.desktop-nav {
		li {
			@apply
			relative
			px-8;
			&:not(.header nav li:last-of-type) {
				&:after {
					width: 5px;
					height: 5px;
					content: "";
					@apply
					block 
					bg-secondary-light
					absolute
					top-1/2
					right-0
					transform
					-translate-y-1/2
				}
			}
		}
		a {
			@apply
			px-0
			py-2
			relative;
			&:before {
				content:"";
				@apply
				absolute
				bottom-0
				left-0
				w-0
				h-0.5
				bg-transparent
				transition-all ease-linear;
			}
			&:hover,
			&:focus {
				@apply
				text-primary;
				&:before {
					@apply
					bg-primary
					w-full;
				}
			}
		}
	}