<div class="banner">
<h1>Banner</h1>
    <div class="container pl-0">
        <div class="banner-image">
            {# sale badge #}
            <pre>
                {{ dump(fields) }}
            </pre>
            <div class="sale-badge">SALE<br>now on</div>

            {# image #}
            <img />   
        </div>
        <div class="banner-content">

        </div>
    </div>
</div>