<div class="top-bar hidden nav:block">
    <div class="container">
        <ul class="flex flex-wrap justify-end w-full menu-primary">
            {% for item in topBarMenu.items %}
                <li class="{{item.class}}">
                    <a href="{{item.link}}" class="relative block {{ item.current ? 'text-primary bg-white' }}">{{item.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>